* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(9, 34, 78);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    color:#fff

}
.hidden {
    display: none;
}

.slider {
    height: 90vh;
    width: 90vw;
    overflow: hidden;
    border: 0.0625rem solid #fff;
    display: flex;
    flex-direction: column;
    position: relative;
    row-gap: 2vh;
}

.slides {
    display: flex;
    width: 500%;
    height: auto;
    transition: transform 0.6s ease;
}

.slide {
    width: 20%;
    height: auto;
    flex-shrink: 0;
}

.imge {
    width: 100%;
    height: 100%;
}


.navigation {
    display: flex;
    justify-content: center;
    gap: 1vw;
}

.nav {
    border-radius: 100%;
    height: 2vw;
    width: 2vw;
    cursor: pointer;
    background-color: #fff;
    transition: all .4s ease;
}

.nav:hover {
    background-color: #95b0e2;
}

input[type="radio"] {
    display: none;
}

#r1:checked ~ .slides .s1{
    margin-left: 0;
}

#r2:checked ~ .slides .s1{
    margin-left: -20%;
}

#r3:checked ~ .slides .s1{
    margin-left: -40%;
}

#r4:checked ~ .slides .s1{
    margin-left: -60%;
}

#r5:checked ~ .slides .s1{
    margin-left: -80%;
}

#r1:checked ~ .text .t1{
    display: inline;
}

#r2:checked ~ .text .t2{
    display: inline;
}

#r3:checked ~ .text .t3{
    display: inline;
}

#r4:checked ~ .text .t4{
    display: inline;
}

#r5:checked ~ .text .t5{
    display: inline;
}






