* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(3, 23, 58);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
input[type="radio"] {
    display: none;
}


h3 {
    color:#fff

}
.hidden {
    display: none;
}

.wrapper {
    height: 90%;
    width: 90%;
    overflow: hidden;
    border: 0.07rem solid rgba(34, 104, 194, 0.1);
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
    border-radius: 0.5%;
    box-shadow: 0 0 1rem 0 rgba(34, 104, 194, 0.53);
    
}

.slider {
    display: flex;
    width: 500%;
    height: 80%;
    transition: transform 0.6s ease;
    
}

.slide {
    width: 20%;
    height: auto;
    flex-shrink: 0;
}

.imge {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.con {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 1rem;
}

.navigation {
    display: flex;
    justify-content: center;
    gap: 0.5vw;
    transition: all .4s ease;
}

.nav {
    border-radius: 50%;
    height: 3vh;
    width: 3vh;
    cursor: pointer;
    background-color: white;
    transition: all .4s ease;
    border: 0.2rem solid rgb(3, 23, 58);
}

.nav:hover {
    opacity: .6;
    background-color: rgba(34, 104, 194, 0.53);
}



/* переключение картинок */
#r1:checked ~ .slider .s1{
    margin-left: 0;
}

#r2:checked ~ .slider .s1{
    margin-left: -20%;
}

#r3:checked ~ .slider .s1{
    margin-left: -40%;
}

#r4:checked ~ .slider .s1{
    margin-left: -60%;
}

#r5:checked ~ .slider .s1{
    margin-left: -80%;
}

/* переключение текста */
#r1:checked ~ .con .text .t1,
#r2:checked ~ .con .text .t2,
#r3:checked ~ .con .text .t3,
#r4:checked ~ .con .text .t4,
#r5:checked ~ .con .text .t5 {
    display: inline;
}

/* переключение активой кнопки */
#r1:checked ~ .con .navigation .k1,
#r2:checked ~ .con .navigation .k2,
#r3:checked ~ .con .navigation .k3,
#r4:checked ~ .con .navigation .k4,
#r5:checked ~ .con .navigation .k5 {
    border: solid 0.07rem white;
    background-color: transparent;
}

@media (max-width: 560px) {
    .slider {
        height: 70%;
    }
    .con {
        flex-direction: column;
        gap: 2vh;
        align-items:center;
    }
    .text {
        text-align: center;
        padding: 1rem;
    }
}